*{
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav{
    height: 5rem;
    background-color: #081b31;
    color: white;
    line-height: 5rem;
    position:sticky;
}

.choise {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choise:hover {
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choises {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 2rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container{
    margin-top: 2rem;
}

#msg {
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.hands {
    display: grid;
    justify-content: center;
    /* flex-direction: column; */
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
    /* margin-top: -50px; */
}

.hands2{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    gap: 16px;

}

.hands2 img{
    height: 260px;
    width: 260px;
    /* border-radius: 100px; */
    /* border-radius: 100% black; */
}


.hands img {
    height: 260px;
    width: 260px;
    /* display:none ;  */
}

/* .hands2-div{
    height: 260px;
    width: 260px;
    display: none;
} */

.h3 {
    display: grid;
    justify-content: center;
    /* flex-direction: column; */
    grid-template-columns: auto auto;
    align-items: center;
    gap: 270px;
}
.after{
    display: none;
}

/* #user-rock{
    display: flex;
}
#pc-rock{
    display: flex;
} */